
.d-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebaropen{
  display:flex;
  transition: transform linear;
  animation:slide 0.3s ease-in-out;
}
@keyframes slide {
  from{
    transform:translateX(-100%);
  }
  to{
    transform:translateX(0);
  }
  
}