@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */
  --clr-bg-semi:rgba(122, 122, 122, 0.3);
  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom , rgb(255, 99, 99),rgb(76, 36, 253));
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 105, 96);
}
.xdark {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-light);
}
.xlight {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-dark);
}

.glassmorphism{
  background:rgba(122, 122, 122, 0.3);
  box-shadow: 0 4px 30px rgb(0,0,0,0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
